@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
.connect {
    /* background-image: url(./Times\ pics/Bio.svg); */
    /* background: #0C0D0D; */
    background-size: cover;
    /* padding: 0; */
    width: 100%;
    height: 102.5vh;
    margin: 0;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    position: absolute;
}

.connect-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -5%;
    z-index: 1;
    margin: 0;
}

.connect-info>h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    /* line-height: 120%; */
    /* identical to box height */
    text-align: center;
    /* color: #FFFFFF; */
    margin-bottom: 0;
}

.connect-info>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /* line-height: 120%; */
    text-align: center;
    letter-spacing: 0.125em;
    color: #F4F0F0;
    margin-top: 0;
}

.tree {
    position: absolute;
    top: -12%;
    height: 50vh;
    left: 25%;
}

.bar {
    width: 100%;
    height: 35%;
    /* background-color: #191B1B; */
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.footer {
    position: absolute;
    bottom: 2%;
    left: 2%;
    /* color: white; */
}

.feed-1 {
    position: absolute;
    /* background: rgba(217, 217, 217, 0.1); */
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    max-width: 286px;
    height: auto;
    left: 10%;
    /* left: 9rem; */
    top: 30%;
    z-index: 3;
    /* box-shadow: 0px 0px 100px -100px rgba(74, 73, 73, 0.48); */
}

.feed-2 {
    position: absolute;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    max-width: 286px;
    height: auto;
    left: 36%;
    top: 20%;
    z-index: 3;
    /* box-shadow: 0px 0px 100px -100px rgba(74, 73, 73, 0.48); */
}

.feed-3 {
    position: absolute;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    max-width: 286px;
    height: auto;
    left: 61.7%;
    top: 35%;
    z-index: 3;
    /* box-shadow: 0px 0px 100px -100px rgba(74, 73, 73, 0.48); */
}

.button {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #dcdf02;
    opacity: 80%;
    right: 2%;
    top: 2%;
    border-radius: 50%;
    /* border: 2px solid #0C0D0D; */
}

.feed-1:hover:before,
.feed-3:hover:before {
    content: 'some路place Co-Founder';
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #22FF38;
    border-radius: 10px 10px 0 0;
    width: 100%;
    top: 0%;
    /* height: 25px; */
    left: 0%;
    text-align: center;
    opacity: 80%;
}

.feed-2:hover:before {
    content: 'some路place Community Manager';
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #22FF38;
    border-radius: 10px 10px 0 0;
    width: 100%;
    top: 0%;
    /* height: 25px; */
    left: 0%;
    text-align: center;
    opacity: 80%;
}

.inside-feed {
    display: flex;
    /* margin: 4px; */
    gap: 1rem;
}

.writing-feed>h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.94rem;
    /* font-size: 15px; */
    line-height: 120%;
    letter-spacing: 0.2em;
    /* color: #F3F1F1; */
    margin-bottom: 0;
    /* margin-top: 10%; */
}

.writing-feed>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: .9rem;
    line-height: 120%;
    /* or 15px */
    letter-spacing: -0.03em;
    /* color: #F3F1F1; */
    opacity: 90%;
    padding-right: 5%;
    margin-top: 3%;
}

.photo-1 {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1106917859701047326/f1_1.webp);
    background-size: 280%;
    background-position: 45% 0%;
    background-repeat: no-repeat;
    image-resolution: 300dpi;
    width: 145%;
    height: 80px;
    position: relative;
    transform: translateY(34%);
    /* position: relative; */
    object-fit: cover;
}

.photo-2 {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1106917387577598012/1613674093373_1.webp);
    background-size: 170%;
    background-position: 45% 0%;
    background-repeat: no-repeat;
    image-resolution: 300dpi;
    width: 125%;
    height: 80px;
    position: relative;
    transform: translateY(34%);
    /* position: relative; */
    object-fit: cover;
}

.photo-3 {
    background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1106917891678412820/f2_1.webp);
    background-size: 320%;
    background-position: 34% 10%;
    background-repeat: no-repeat;
    image-resolution: 300dpi;
    width: 45%;
    height: 80px;
    position: relative;
    transform: translateY(34%);
    /* position: relative; */
    object-fit: cover;
}

.cube-col {
    position: absolute;
    bottom: 5%;
    display: flex;
    gap: 2rem;
}

.cube-col>a {
    text-decoration: none;
}

.cube-1,
.cube-2,
.cube-3,
.cube-4 {
    width: 30px;
    height: 30px;
    border: 1px solid #22FF38;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 999;
}

.cube-1>h5,
.cube-2>h5,
.cube-3>h5,
.cube-4>h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24.5px;
    line-height: 30px;
    /* identical to box height */
    /* Green-Secondary */
    color: #22FF38;
}

.cube-1:hover:after,
.cube-2:hover:after,
.cube-3:hover:after,
.cube-4:hover:after {
    position: absolute;
    top: -100%;
    /* border: 1px dashed #22FF38; */
    color: #22FF38;
}

.cube-1:hover:after {
    content: 'Gmail';
}

.cube-2:hover:after {
    content: 'Linkdin';
}

.cube-3:hover:after {
    content: 'Twitter';
}

.cube-4:hover:after {
    content: 'Discord';
}

.flex-circle {
    position: absolute;
    width: 201.75px;
    height: 201.75px;
    border-radius: 50%;
    top: -15%;
    z-index: 9;
}

.main-circle {
    z-index: 2;
    /* transform: rotate(0deg); */
    /* transform: rotate(180deg); */
    background-image: url('https://cdn.discordapp.com/attachments/941095160517894185/1068625324721590433/circle-flex-body.png');
    /* width: 201.75px; */
    width: 12.6rem;
    height: 12.6rem;
    /* height: 201.75px; */
    /* border: 1px solid black; */
    border-radius: 50%;
    background-size: cover;
}

.circle-light {
    position: absolute;
    /* transform: translateX(270%) translateY(50%); */
    /* transform: translateX(120%) translateY(50%); */
    width: 41px;
    height: 41px;
    background: rgba(217, 217, 217, 0.83);
    box-shadow: 11px 4px 16px rgba(255, 254, 254, 0.25);
    filter: blur(16.5px);
    z-index: 10;
}

.circle-shadow {
    position: absolute;
    width: 182px;
    height: 69px;
    background: rgba(0, 0, 0, 0.77);
    filter: blur(6px);
    border-radius: 50%;
    /* transform: translateX(-30%) translateY(-80%); */
    /* transform: translateX(30%) translateY(-80%); */
    z-index: -1;
}


/* Cubes animation */

.cube-4 {
    /* animation: cube-4-fall 1.5s linear infinite; */
}

@keyframes cube-4-fall {
    from {
        transform: translateX(200%) translateY(-700%) rotate(300deg);
        opacity: 0;
    }
    to {
        transform: translateX(0%) translateY(0%) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateX(-50%) translateY(0%) rotate(30deg);
        opacity: 1;
    }
    80% {
        transform: translateX(0%) translateY(-50%) rotate(0deg);
        opacity: 1;
    }
}

.cube-1 {
    /* animation: cube-1-fall 1.5s linear infinite; */
    /* transform: translateX(-300%) translateY(-700%) rotate(300deg); */
    /* transform: translateX(-100%) translateY(0%) rotate(70deg); */
    /* transform: translateX(-80%) translateY(-50%) rotate(60deg); */
}

@keyframes cube-1-fall {
    from {
        transform: translateX(-500%) translateY(-700%) rotate(300deg);
        opacity: 0;
    }
    to {
        transform: translateX(0%) translateY(0%) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateX(-100%) translateY(-10%) rotate(70deg);
        opacity: 1;
    }
    70% {
        transform: translateX(100%) translateY(-50%) rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: translateX(50%) translateY(-30%) rotate(0deg);
        opacity: 1;
    }
}

.cube-2 {
    /* transform: rotate(0) translateY(0); */
    /* transform: rotate(30deg) translateY(-20%); */
    animation: cube-2-fall 250ms linear 1s;
    /* animation-delay: 1s; */
    /* transition: transform 250ms linear 1s; */
}

@keyframes cube-2-fall {
    from,
    to {
        transform: rotate(0) translateY(0)
    }
    50% {
        transform: rotate(30deg) translateY(-20%);
        /* transition: transform 500ms linear 1.5s; */
    }
    80% {
        transform: rotate(20deg) translateY(-15%);
        /* transition: transform 500ms linear 1.5s; */
    }
}

.div-feed {
    display: none;
}

@media only screen and (width: 1024px) and (height: 768px) {
    .feed-1 {
        left: 5%;
    }
    .feed-3 {
        left: 70%;
    }
    .feed-2 {
        left: 40%;
    }
    .connect {
        width: 100%;
    }
}

@media only screen and (max-width: 1180px) {
    .feed-1 {
        left: 5%;
    }
    .feed-3 {
        left: 70%;
    }
    .feed-2 {
        left: 40%;
    }
    .connect {
        width: 100%;
    }
}

@media only screen and (max-width: 820px) {
    .tree {
        display: none;
    }
    .connect-feedbacks {
        display: none;
    }
    .div-feed {
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute; */
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
        height: 30%;
        top: 22%;
    }
    .feed-1,
    .feed-2,
    .feed-3 {
        top: auto;
        left: auto;
        width: 100%;
    }
    .con-top-arrow,
    .con-down-arrow {
        background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1070002597194371183/arrow-top.png);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        left: 3%;
        top: 30%;
    }
    .con-down-arrow {
        transform: rotate(180deg);
        top: 40%;
    }
    .bar {
        height: 30%;
    }
    .connect-info {
        top: -2%;
    }
}

@media only screen and (max-width: 375px) and (max-height:750px) {
    .tree {
        display: none;
    }
    .connect-feedbacks {
        display: none;
    }
    .div-feed {
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute; */
        width: 100%;
        /* border: 1px solid red; */
        position: absolute;
        height: 30%;
        top: 22%;
    }
    .feed-1,
    .feed-2,
    .feed-3 {
        top: auto;
        left: auto;
        width: 100%;
    }
    .con-top-arrow,
    .con-down-arrow {
        background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1070002597194371183/arrow-top.png);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        left: 3%;
        top: 30%;
    }
    .con-down-arrow {
        transform: rotate(180deg);
        top: 40%;
    }
    .bar {
        height: 30%;
    }
    .connect-info {
        top: 0%;
    }
    .connect-info>h5 {
        font-size: 1.7rem;
    }
    .connect-info>p {
        font-size: .75rem;
    }
    .main-circle {
        width: 11rem;
        height: 11rem;
    }
}

@media only screen and (max-width: 420px) {
    .feed-1,
    .feed-2,
    .feed-3 {
        /* top: 5%; */
        transform: scale(.9);
        position: static;
        align-items: center;
        justify-content: center;
    }
    .flex-circle,
    .cube-col {
        transform: scale(.9);
    }
    .feed-1::before,
    .feed-3::before {
        content: 'some路place Co-Founder';
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: #22FF38;
        border-radius: 10px 10px 0 0;
        width: 100%;
        top: 0%;
        /* height: 25px; */
        left: 0%;
        text-align: center;
        opacity: 80%;
    }
    .feed-2::before {
        content: 'some路place Community Manager';
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: #22FF38;
        border-radius: 10px 10px 0 0;
        width: 100%;
        top: 0%;
        /* height: 25px; */
        left: 0%;
        text-align: center;
        opacity: 80%;
    }
}

@media only screen and (max-height: 420px) {
    .connect {
        display: none;
    }
}

@media only screen and (max-height: 700px) and (orientation: portrait) {
    .main-circle {
        width: 9rem;
        height: 9rem;
    }
    .bar {
        height: 29%;
    }
    .feed-1,
    .feed-2,
    .feed-3 {
        top: auto;
        left: auto;
        width: 80%;
        /* height: 110%; */
        transform: scale(.9);
    }
    .footer {
        bottom: 0%;
        font-size: .9rem;
    }
    .writing-feed>p {
        font-size: .8rem;
    }
    .con-top-arrow,
    .con-down-arrow {
        width: 25px;
        height: 25px;
        left: 2%;
    }
    .flex-circle {
        transform: scale(.9) translateY(-10%);
    }
}

@media only screen and (min-width: 1440px) and (min-height: 900px) {
    .connect {
        min-height: 100vh;
        width: 104%;
    }
    .connect-info {
        transform: scale(1.4);
    }
    .feed-1,
    .feed-2,
    .feed-3 {
        transform: scale(1.4);
    }
    .bar {
        height: 300px;
    }
    .flex-circle,
    .cube-col,
    .footer {
        transform: scale(1.4);
    }
    .footer {
        left: 5%;
    }
}

@media only screen and (min-width: 1440px) {
    .connect {
        min-height: 100vh;
        width: 100%;
    }
    .connect-info,
    .feed-1,
    .feed-2,
    .feed-3,
    .flex-circle,
    .cube-col,
    .footer {
        transform: scale(1.2);
    }
    .footer {
        left: 4%;
    }
}
@media only screen and (max-height: 735px) {
    .connect-info,
    .feed-1,
    .feed-2,
    .feed-3 {
        transform: scale(.8)
    }
}
