html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    cursor: url(../../../public/green_cursor.png), auto;
    scroll-snap-type: y proximity;
}

.portfolio {
    height: 100vh;
    /* width: 100%; */
}

/* selection */
::selection {
    background-color: #22FF38;
    color: #ffffff
}

/* width */

::-webkit-scrollbar {
    width: 17px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    /* border-radius: 50%; */
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: url(./Times\ pics/mask-nav/scroll.png) #22FF38;
    background-size: contain;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: url(./Times\ pics/mask-nav/scroll-2.png) #22FF38;
    background-position: contain;
}

.guide-in {
    display: flex;
    align-items: center;
    color: #22FF38;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    gap: 10%;
    opacity: .9;
}

.guide-in::after {
    content: '';
    width: 40px;
    height: .5px;
    background: #22FF38;
    align-items: center;
    justify-items: center;
}

.guide-in::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #22FF38;
    align-items: center;
    justify-items: center;
    /* animation: wow 700ms inherit; */
}

@keyframes wow {
    from {
        width: 100%;
    }
    to {
        width: 0%;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

.rotate {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: none;
}

.rotate>p {
    color: #1B8926;
}

@media only screen and (max-height: 420px) {
    .guide-in {
        display: none;
    }
    .rotate {
        display: flex;
    }
}

@media only screen and (min-width: 1440px) and (min-height: 900px) {
    .guide-in,
    .guide-in::after,
    .guide-in::before {
        transform: scale(1.4);
    }
    html {
        background-color: #0C0D0D;
        /* background-color: red; */
    }
}

@media only screen and (min-width: 1440px) {
    .guide-in,
    .guide-in::after,
    .guide-in::before {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 420px) {
    .guide-in,
    .guide-in::after,
    .guide-in::before {
        transform: scale(.9) translateX(8%);
    }
}
