    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;900&display=swap');
    .times-cont {
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        height: 100vh;
        width: 100%;
    }
    
    .deco {
        background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1062397925738676284/Frame.png);
        width: 20%;
        height: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .deco-2 {
        background-image: url(https://cdn.discordapp.com/attachments/941095160517894185/1062397925738676284/Frame.png);
        width: 20%;
        height: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    /* .message {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    
    .container {
        /* display: block; */
        border: 3px solid white;
        width: 35rem;
        height: 13rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    /* Glitch effect */
    
    .container:nth-child(2) {
        animation-name: glitch;
        animation-duration: 900ms;
        animation-iteration-count: infinite;
    }
    
    @keyframes glitch {
        0% {
            left: 0.7%;
            top: -0.7%;
            border: 3px solid black;
            opacity: 1;
        }
        2% {
            opaticy: 0;
            left: 0.7%;
            top: -0.7%;
            border: 3px solid black;
        }
        15% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    .container:nth-child(3) {
        animation-name: glitch-2;
        animation-duration: 700ms;
        animation-iteration-count: infinite;
    }
    
    @keyframes glitch-2 {
        0% {
            left: -0.7%;
            top: 0.7%;
            border: 3px solid black;
            opacity: 1;
        }
        2% {
            opaticy: 0;
            left: -0.7%;
            top: 0.7%;
            border: 3px solid black;
        }
        15% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    h1 {
        font-family: 'Inconsolata', monospace;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        /* or 120% */
        color: #FFFFFF;
        padding-left: 1rem;
    }
    
    .pp {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        color: #1B8926;
    }
    
    .warning::before {
        content: url(https://cdn.discordapp.com/attachments/941095160517894185/1062386270032109670/Frame_394.png);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .warning::after {
        content: 'Please enjoy time with your loved ones insead.';
        display: block;
    }
    
    .container::after {
        content: ' ';
        border: 3px solid #1B8926;
        display: flex;
        width: 35rem;
        height: 13rem;
        position: relative;
        top: -98%;
        left: 1%;
        z-index: -1;
    }
    
    @media only screen and (max-width: 760px) {
        .container {
            border: 2px solid white;
            width: 23rem;
            height: 15rem;
        }
        h1 {
            font-size: 15px;
            font-weight: 600;
        }
        .pp {
            font-size: 13px;
        }
        .container::after {
            width: 23rem;
            height: 15rem;
        }
        @media only screen and (max-width: 375px) {
            .container {
                border: 2px solid white;
                width: 20rem;
                height: 12rem;
            }
            h1 {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0;
                /* margin-top: 0; */
            }
            .pp {
                margin-top: 0;
                font-size: 11px;
            }
            .container::after {
                width: 20rem;
                height: 12rem;
                top: -105%;
            }
        }
    }